<div class="navbar navbar-info navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <i class="material-icons" style="">email</i>
                </a>
        </div>
        <div style="position:absolute; top:-5px; right:84px; color:#FFF" class="more-tools pull-right"></div>
        <button  style="position:absolute; top:-5px; right:14px; color:#FFF; font-weight:bold; cursor:pointer" class="btn refresh toggle-dropdown">
            <i class="material-icons">refresh</i>
        </button>
    </div>
</div>